.inputForm {
  width: 80%;
  display: flex;
  height: 40%;
  border-radius: 10px;
  overflow: hidden;
}

.inputForm__input {
  flex-grow: 5;
  padding: 1%;
}

.inputForm__submitButton {
  flex-grow: 2;
}

.inputForm__submitButton:active {
  flex-grow: 2;
  color: red;
}