:root {
  --text-color: black;
  --inner-stroke-color: white;
  --outer-stroke-color: black;
  --shadow-color: black;
}

.loadingContainer {
  margin-top: 10%;
  margin-left: 20%;
  width: 100%;
  padding: auto auto;
}

.loadingContainer>h1 {
  font-family: cursive;
  position: relative;
  font-size: 100px;
  color: var(--text-color);
  font-weight: normal;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: 13px;
  --text-stroke: 2px var(--inner-stroke-color);
  -webkit-text-stroke: var(--text-stroke);
  text-stroke: var(--text-stroke);
  animation: rise 1s ease-in-out infinite forwards;
}

.loadingContainer>h1:after {
  content: 'loading...';
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  --text-stroke: 8px var(--outer-stroke-color);
  -webkit-text-stroke: var(--text-stroke);
  text-stroke: var(--text-stroke);
  z-index: -1;
  animation: drop 1s ease-in-out infinite forwards;
}

@keyframes drop {
  0% {
    filter: drop-shadow(-5px -5px 0 var(--shadow-color));
  }
  50% {
    filter: drop-shadow(5px 5px 0 var(--shadow-color));
  }
  100% {
    filter: drop-shadow(-5px -5px 0 var(--shadow-color));
   }
}

@keyframes rise {
    0% {
        transform: translate(5px, 5px);
    }
    50% {
        transform: translate(-5px, -5px);
    }
    100% {
        transform: translate(5px, 5px);
    }
}